<form action="{{ actionUrl }}" method="post" {{ form_enctype(planForm) }}>
  {% if planForm.vars.errors|length %}
    <div class="alert alert-danger">
    {{ form_errors(planForm) }}
    </div>
  {% endif %}
<table class="table">
  <thead>
    <tr>
      <th>Plan</th>
      <th>Price / month</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for planId, plan in plans %}
    <tr>
      <td>{{ plan.i18nKey | trans({}, plan.messageDomain) }}</td>
      <td>{{ plan.currency }} {{ plan.price / 100 }}</td>
      <td>
        {% if subscriber.currentPlan == null %}
        <button class="btn btn-default plan-subscribe-button" 
          data-plan-price="{{ plan.price }}" 
          data-plan-currency="{{ plan.currency }}" 
          data-plan-id="{{ planId }}" 
          data-plan-name="{{ plan.i18nKey | trans({}, plan.messageDomain) | e }}" 
          type="button">Subscribe</button>
        {% elseif subscriber.currentPlan == planId%}
        <button class="btn btn-default plan-cancel-button" 
          data-plan-id="{{ planId }}" 
          type="button">Cancel</button>
        {% else %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ form_row(planForm.selectedPlan) }}
{{ form_row(planForm.stripeToken) }}
{{ form_row(planForm._token) }}
</form>
